export AWS_PROFILE=yb-americas-presales
eval "$(aws configure export-credentials  --profile $AWS_PROFILE --format env)"

source_env_if_exists $(direnv_layout_dir)/.envrc-yba

export SSH_AUTH_SOCK=


PATH_add $PWD/bin

layout python python3
