.idea/
api/env-local
api/data/
yb-data/
yb_data/


*.tfvars
*.tfstate
*.tfstate.bak
.terraform/
*.tfplan
*.tfstate.lock.info
private/
.direnv/

.idea/

.DS_Store

*.swp
.env-private
api/tradex-api.iml