.leaflet-popup-content-wrapper {
    width: 580px !important ;
}
.css-1ygcj2i-MuiTableCell-root {
    font-weight: 700 !important;
    font-family: poppins !important;
}
/* .css-tshvhc-MuiTableCell-root {
    font-family: poppins !important;
} */