export IMG_TAG=tradexdb:local

export APP_INSTANCE_LOCATION=BOSTON
export APP_DB_LOADBALANCE=true

# Multi Region DB Information
export APP_MULTI_REGION_DB_PWD=uranus123#
export APP_MULTI_REGION_DB_TP_KEYS=e,f,g
export APP_MULTI_REGION_DB_URL=jdbc:yugabytedb://localhost:5433/uranus?socketTimeout=30
export APP_MULTI_REGION_DB_USER=uranus

# YugabyteDB Anywhere Portal / Yugaware  API Information
export YB_API_HOST=http://localhost:7567
export YB_API_CUST=59dc9199-adf4-4f2f-b267-c7a820f9dcfb
export YB_API_TOKEN=487a2e7a-0c2

# Spring Profiles to Activate
export SPRING_PROFILES_ACTIVE=yugabyte,MR

export DATASOURCE_TYPES=MULTI_REGION_MULTI_ZONE
