IMG_TAG=tradexdb:local

APP_INSTANCE_LOCATION=BOSTON
APP_DB_LOADBALANCE=false

# Geo Partitioned DB Information
APP_GEO_PART_DB_PWD=mercury123#
APP_GEO_PART_DB_TP_KEYS=k,l,m
APP_GEO_PART_DB_URL=jdbc:yugabytedb://localhost:5433/mercury
APP_GEO_PART_DB_USER=mercury

# Multi Region DB Information
APP_MULTI_REGION_DB_PWD=uranus123#
APP_MULTI_REGION_DB_TP_KEYS=e,f,g
APP_MULTI_REGION_DB_URL=jdbc:yugabytedb://localhost:5433/uranus?socketTimeout=30
APP_MULTI_REGION_DB_USER=uranus

# Multi Region Read Replica DB Information
APP_MULTI_REGION_READ_REPLICA_DB_PWD=neptune123#
APP_MULTI_REGION_READ_REPLICA_DB_TP_KEYS=h,i,j
APP_MULTI_REGION_READ_REPLICA_DB_URL=jdbc:yugabytedb://localhost:5433/neptune
APP_MULTI_REGION_READ_REPLICA_DB_USER=neptune

# Single Region DB Information
APP_SINGLE_DB_PWD=mercury123#
APP_SINGLE_DB_TP_KEYS=a,b,c
APP_SINGLE_DB_URL=jdbc:yugabytedb://localhost:5433/mercury?socketTimeout=30
APP_SINGLE_DB_USER=mercury

# Single Region Oracle DB Information
APP_SINGLE_ORCL_DB_PWD=mercury123#
APP_SINGLE_ORCL_DB_URL=jdbc:oracle:thin:@localhost:1521/XE
APP_SINGLE_ORCL_DB_USER=mercury

# YugabyteDB Anywhere Portal / Yugaware  API Information
YB_API_HOST=http://localhost:7567
YB_API_CUST=59dc9199-adf4-4f2f-b267-c7a820f9dcfb
YB_API_TOKEN=487a2e7a-0c2

# Spring Profiles to Activate
SPRING_PROFILES_ACTIVE=SINGLE,MR,MRR,GEO
